<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}QR Code Project{% endblock %}</title>

    {% load static %}

    {% block head %}
    {% endblock %}

    <link rel="shortcut icon" href="{% static 'media/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'base.css' %}">

</head>
<body>
    <nav>
        <img src="{% static 'media/logo.png' %}">
        <h2>MY QR</h2>
        <div>
            <a href="{% url 'home' %}">Головна</a>
            <a href="{% url 'gen' %}">Згенерувати QR-код</a>
            <a href="{% url 'my_qr' %}">Мої QR-коди</a>
            <a href="{% url 'contacts' %}">Контакти</a>
            <a href="{% url 'settings' %}">Підписки</a>
            <a href="{% url 'reg' %}" class="blue">Реєстрація</a>
            <a href="{% url 'auth' %}" class="blue">Авторизація</a>
        </div>
    </nav>
    <div id="body">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>